{% extends 'base.html.twig' %}
{% block title %} Redéfinir le mot de passe?{% endblock %}

{% block body %}
  {{form_start(form)}}
    <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
  {{form_end(form)}}
{% endblock %}