{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
	{% block cover %}{% endblock %}
	<div class="container">
	    <h1 class="m-4">Editer une figure</h1>
      
      <div class="row"> 
        <img src="{{ asset('uploads/images/' ~ trick.attachements[0].filename ) }}"/>    
      </div>       
  
	     {{ include('trick/_form.html.twig', {'button_label': 'Editer'}) }}

	    <a class="m-4" href="{{ path('trick_index') }}">back to list</a>
	    	{{ include('member/_delete_form.html.twig') }}
   </div>
{% endblock %}
