{% extends 'base.html.twig' %}

{% block title%} Administration des figures {% endblock %}

{% block body%}
<div class=" container m-4">
	<h1 class="m-4">La liste des figures</h1>
	<table class="table table-bordered">
		<thead>
			<tr class="table-info">
				<th>Titre du figure</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for trick in tricks %}
			<tr>
				<td>{{trick.name}}</td>
				<td>
					<a class="btn btn-outline-dark" href="{{path('trick_edit', {id : trick.id})}}">Editer</a>
				</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>
{% endblock %}