   
<div id="jq-com" {% if (comments|length == 5) %}class="more"{% endif%}>
    
      {% for comment in comments|slice(0,4) %}
       <div class="alert alert-success">
        <img src="{{asset('img/'~ comment.user.picture|default('avatar-user.jpg'))}}" class="rounded-circle img-fluid" style="max-width: 40px;">
         <strong>{{comment.user.nickName}}</strong> à écrit le {{comment.creationDate|date("d-m-Y")}}: <strong>{{comment.content}}</strong> 

       </div>

      {% endfor %}

  </div>
   
  {% if (comments|length == 5) and (initial_load is defined) %}
      <button class="btn btn-indigo" id="jq-plus">Plus</button>
  {% endif %}