   
<div id="jq-com">
    
      {% for comment in comments|slice(0,4) %}
        
         <div>{{comment.user.nickName}} à écrit:{{comment.content}}</div>

      {% endfor %}

    
  </div>
   
  {% if comments|length == 5 %}
      <button class="btn btn-indigo" id="jq-plus">Plus</button>
  {% endif %}