{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}

<section>

  <div class="container-fluid">
    <div class="row m-4" id="jq-card">

    </div>
    <button class="btn btn-default" id ="js-scroll-down">Right <i class="fas fa-magic ml-1"></i></button>
  </div>
  
</section>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

  $(document).ready(function(){
    $('#js-scroll-down').on('click', function(){
     var number_trick = $('#jq-card > div').length;
     
      $.post( "{{path('trick_ajax')}}", {first: number_trick})
        .done(function(tricks){
          $('#jq-card').append(tricks);
          // SI LE RESULTAT DE LA REQUETE EST VIDE OU QU IL Y A MOINS DE 3 TRICKS CACHER LE BUTTON

        })
        

    });
  });
  </script>
{% endblock %}