{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}



<div class="container m-4">
        <h1>Page d'accueil</h1>
    </div>
    <div class="container-fluid">
        <div class="row m-4">
                {% for trick in tricks %}
                    <div class="col-3">
                        <div class="card">
                         <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                           <h5 class="card-title">{{trick.name}}</h5>
                           <p class="card-text">{{trick.description}}</p>
                            <a href="{{path('trick_show', {id : trick.id})}}" class="btn btn-primary">Details</a>
                          </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>

    <a href="{{ path('trick_new') }}" class="btn btn-outline-secondary">Create new</a>
{% endblock %}
