{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
	<div class="container">
	    <h1 class="m-4">Ajouter une nouvelle figure</h1>

	    {{ include('trick/_form.html.twig') }}

	    <a href="{{ path('trick_index') }}" class="btn btn-outline-info">back to list</a>
	</div>
{% endblock %}
